<h2>Here's a form to edit a <%= crypt.name %></h2>

<form action="/cryptids/<%= crypts.id %>/?_method=PUT" method="POST">
    <label for="crypt-type">Image:</label>
    <input type="text" name="image" id="crypt-type" value="Image URL">

    <label for="crypt-name">Name:</label>
    <input type="text" name="name" id="crypt-name" value="<%= crypt.name %>">

    <input type="submit" value="Edit that Crypt!">
</form>