<h2>Here is a form to add a new Crypt</h2>

<form action="/cryptids" method="POST">
    <label for="crypt-type">Image:</label>
    <input type="text" name="type" id="crypt-type">

    <label for="dino-name">Name:</label>
    <input type="text" name="name" id="crypt-name">

    <input type="submit" value="Add that Crypt!">
</form>